.formular {
  display: flex;
  background-color: antiquewhite;
  flex-direction: column;
  align-items: flex-start;
}

.formular input {
  width: 260px;
}

#gdprCheck,
#submitAction {
  width: unset;
}

#messageInput {
  width: 50%;
  height: 300px;
}

.error {
  display: flex;
  flex-wrap: wrap;
  color: red;
  width: fit-content;
  height: 5px;
  align-content: center;
}
.message {
  display: flex;
  flex-wrap: wrap;
  color: green;
  width: fit-content;
  height: 5px;
  align-content: center;
}
